<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--        
        <property name="hbm2ddl.auto">create</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/test</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        -->
        
        <property name="hbm2ddl.auto">create</property>  
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>  
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>  
        <property name="connection.url">jdbc:mysql://localhost:3306/test2</property>  
        <property name="connection.username">root</property>  
        <property name="connection.password">root</property>  
        
        <!-- List of XML mapping files -->
        <mapping resource="com/hospitalmgmt/models/admin.hbm.xml"/>
        <mapping resource="com/hospitalmgmt/models/employee.hbm.xml"/>
        <!--        
        <mapping resource="com/hospitalmgmt/models/doctor.hbm.xml"/>
        <mapping resource="com/hospitalmgmt/models/staff.hbm.xml"/>
        -->
        <mapping resource="com/hospitalmgmt/models/patient.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
